.onde_title { background: url(../images/onde_comprar/fundo_onde.jpg) no-repeat center top; height: 263px; }

.onde_title h1 { color: #FFF; font-weight: 400; text-transform: uppercase; letter-spacing: 0.105em; line-height: 38px; font-size: 38px; font-family: 'Montserrat', sans-serif; padding-top: 112px; }

.onde_title h1 span { font-weight: 600; display: block; }

.lojas { padding-bottom: 85px; position: relative; }

.lojas p { color: #958b7a; font-weight: 500; line-height: 20px; font-size: 18px; margin-top: 41px; margin-bottom: 38px; }

.lojas_slider img { width: auto !important; }

.lojas_slider .slick-slide { text-align: center; }

.lojas_slider .slick-track { display: flex; align-items: center; justify-content: center; }

.lojas_slider .slick-list { margin: 0px 54px; overflow: hidden; }

.effectv4 { position: absolute; width: 100%; background: url(../images/onde_comprar/effectv4.png) #fff center; height: 45px; top: -45px; left: 0; z-index: 2; }

.fundo_branco { background: #FFF; width: 57%; position: absolute; top: 0; height: 100%; right: 0; z-index: 2; }

.texto_lojas { position: relative; z-index: 4; }

.todas_lojas { background: #f7f5f0; }

.todas_lojas img { padding-top: 53px; }

.todas_lojas ul { margin-bottom: 0; padding: 0; list-style: none; display: grid; grid-template-columns: repeat(3, 1fr); grid-column-gap: 0; grid-row-gap: 10px; text-align: center; padding-top: 22px; padding-bottom: 40px; }

.todas_lojas a { color: #958b7a; font-size: 15px; letter-spacing: 0.025em; text-decoration: underline; font-family: 'Montserrat', sans-serif; }

.todas_lojas a:hover { color: #ba1700; }
