.titulo_pagina { background: url(../images/produto/produto.jpg); background-position: center; }

.padding_titulo { padding-left: 130px; padding-right: 100px; padding-top: 36px; padding-bottom: 110px; align-items: center; }

.padding_titulo h2 { color: #FFF; font-family: 'Montserrat', sans-serif; font-size: 32px; font-weight: normal; line-height: 38px; letter-spacing: 0.025em; padding-left: 52px; margin-bottom: 0; text-transform: uppercase; }

.padding_titulo h2 span { font-weight: 900; background: #e60b25; display: inline-block; padding: 0 4px; }

.padding_titulo img { padding-right: 63px; border-right: 1px solid #FFF; }

.slider_produto .carousel-indicators { bottom: 2%; }

section.slider_produto { margin-top: -69px; }

.carousel { position: relative; }

.onde_comprar { position: absolute; width: 347px; height: 59px; background: transparent; color: #FFF; border: 1px solid #FFF; font-size: 29px; letter-spacing: 0.025em; text-transform: uppercase; text-align: center; bottom: 22px; right: 25px; font-family: 'Montserrat', sans-serif; z-index: 20; display: flex; align-items: center; justify-content: center; }

.onde_comprar:hover { background: #e60b25; color: #FFF; text-decoration: none; border: none; }

.compartilhar { margin-top: 22px; }

.compartilhar a { width: 33px; height: 33px; }

.compartilhar .tw { background-position: -3px -162px; }

.compartilhar .fb { background-position: -36px -162px; }

.compartilhar .pin { background-position: -69px -162px; }

.compartilhar .goo { background-position: -102px -162px; }

.compartilhar .mail { background-position: -135px -162px; }

.compartilhar .king { background-position: -168px -162px; }

.detalhes p { font-size: 15px; line-height: 20px; font-weight: 400; font-family: 'Montserrat', sans-serif; color: #575555; margin-top: 25px; }

.cada_detalhe h3 { font-family: 'Montserrat', sans-serif; font-weight: 600; font-size: 14px; line-height: 16px; color: #575555; text-transform: uppercase; margin-top: 14px; text-align: center; }

.cada_detalhe .icone_detalhe { width: 110px; height: 110px; margin: 0 auto; }

.cada_detalhe .mm { background-position: -3px -201px; }

.cada_detalhe .alta { background-position: -123px -201px; }

.cada_detalhe .sust { background-position: -6px -318px; }

.cada_detalhe .gar { background-position: -123px -317px; }

.lista_detalhes { padding: 0 20px; margin-top: 63px; margin-bottom: 58px; }

.cada_cor { margin-bottom: 17px; align-items: center; }

.cada_cor h4 { font-weight: 600; line-height: 16px; font-size: 14px; color: #575555; text-transform: uppercase; padding-left: 17px; }

.caracteristicas h2 { font-size: 36px; letter-spacing: 0.025em; color: #ba1700; line-height: 36px; text-transform: uppercase; margin-bottom: 40px; padding-top: 92px; }

.caracteristicas h2 span { font-weight: 900; display: block; }

.fundo_vermelho { width: 58%; height: 100%; position: absolute; background: #ba1700; top: 0; right: 0; z-index: 1; }

.cara { position: relative; z-index: 2; }

.cara h2 { color: #FFF; }

.cara p { color: #FFF; font-size: 15px; letter-spacing: 0.025em; line-height: 24px; }

section.caracteristicas { position: relative; background: #f7f5f0; padding-bottom: 62px; }

.effectv2 { position: absolute; width: 100%; background: url(../images/assets/effectv2.png) center; height: 668px; top: 0; left: 0; z-index: 2; }

.cores { position: relative; z-index: 3; }

/* produtso */
.produtos h1 { color: #ba1700; font-size: 36px; line-height: 60px; letter-spacing: 0.025em; font-family: 'Montserrat', sans-serif; text-transform: uppercase; padding-top: 68px; padding-bottom: 44px; }

.produtos h1 span { font-weight: 900; }

.sidebar h3 { font-size: 22px; font-weight: 600; font-family: 'Montserrat', sans-serif; text-align: center; background: #931907; color: #FFF; padding: 16px 0; text-transform: uppercase; margin-bottom: 0; }

.sidebar ul { list-style: none; padding: 0; background: #f7f5f0; }

.sidebar a { padding-left: 36px; height: 46px; border-bottom: 2px solid #d2d2d2; display: flex; align-items: center; color: #575555; font-size: 16px; font-family: 'Montserrat', sans-serif; }

.sidebar a:before { content: ''; width: 16px; height: 16px; background: url(../images/assets/sprites.png) no-repeat; background-position: -216px -11px; margin-right: 13px; }

.sidebar a:hover { background: #d51a15; color: #FFF; font-weight: 600; text-decoration: none; }

.sidebar a:hover:before { background-position: -233px -11px; }

.sidebar .ativo { background: #d51a15; color: #FFF; font-weight: 600; text-decoration: none; }

.sidebar .ativo:before { background-position: -233px -11px; }

.sidebar li:last-of-type a { border: 0; }
