.encontre_representante { padding-bottom: 118px; }

.select_representante .estado { width: 104px; margin-right: 15px; }

.select_representante .cidade { width: 194px; margin-right: 15px; }

.select_representante .bairro { width: 194px; margin-right: 15px; }

.select_representante .ver_listagem { width: 218px; margin-right: 15px; }

.select_representante .ver_mapa { width: 198px; }

.select_representante button { font-size: 16px; letter-spacing: 0.2em; color: #FFF; background: #ba1700; text-transform: uppercase; border: 0; font-weight: bold; }

.select_representante button:hover { background: #a39a8a; }

.select_representante .custom-select2-trigger { width: 100%; }

.mapa { margin-top: 25px; }

.mapa iframe { border: 2px solid #ba1700 !important; }
