.oproduto {
	position: relative;
}
.vermelho_produto {
	background-image: url(../images/produto_interna/effectv3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 0;
	background-color: #ba1700;
	height: 241px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.slider_produto , .titulo_descricao {
	position: relative;
    z-index: 4;
	padding-left: 41px;
}

.titulo_descricao {
	.breadcrumbv2 {
		padding-top: 38px;
		a {
		font-size: 15px;
		line-height: 40px;
		letter-spacing: 0.025em;
		font-family: 'Montserrat', sans-serif;
		color: #FFF;
		font-weight: 400;
		}
		span {
			padding: 0 11px;
			color: #FFF;
			font-size: 15px;
			padding-top: 9px;
		}
	}
	h1 {
		font-size: 36px;
		letter-spacing: 0.025em;
		font-weight: normal;
		color: #FFF;
		line-height: 36px;
		text-transform: uppercase;
		margin-top: 4px;
		margin-bottom: 44px;
		font-family: 'Montserrat', sans-serif;
		span {
			font-weight: 900;
			display: block;
		}
	}
	h3 {
		color: #575555;
		font-size: 16px;
		line-height: 16px;
		letter-spacing: 0.015em;
		font-weight: bold;
		margin-top: 30px;
		text-transform: uppercase;
		margin-bottom: 12px;
		font-family: 'Montserrat', sans-serif;
	}
	p {
		font-size: 15px;
		color: #575555;
		line-height: 20px;
		font-weight: 400;
		font-family: 'Montserrat', sans-serif;
		margin-bottom: 0;
	}
	.descricao_produto {
    padding-top: 24px;
	}
	.botoes_produto {
		margin-top: 22px;
	}
}

.cada_foto {
	position: relative;
	border: 1px solid #dcdcdc;
}

.slider-nav .slick-slide {
	border: 1px solid #dcdcdc;
	margin-left:14px;
}
.slider-nav .slick-list {
    margin-left:-14px;
  }

  .slider-nav {
	  padding-top: 11px;
  }
.cada_foto .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 1px 54px 0px rgba(0, 0, 0, 0.15) inset; 
}

.slider_produto {
    padding: 0;
    padding-top: 36px;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 43.666667%;
    max-width: 43.666667%;
}

.slider-nav button.slick-prev {
    background: url(../images/assets/sprites.png);
    background-repeat: no-repeat;
	background-position: -293px -5px !important;
    width: 43px;
    height: 41px;
    z-index: 3;
    left: -27px;
    background-size: 370px;
    transition: 0.4s;
}

.slider-nav button.slick-next {
    background: url(../images/assets/sprites.png);
    background-repeat: no-repeat;
    background-position: -293px -54px !important;
    width: 43px;
    height: 41px;
    z-index: 3;
    right: -27px;
    background-size: 370px;
    transition: 0.4s;
}

.outras_info {
	position: relative;
	margin-top:37px;
	padding-bottom: 5px;
	h2 {
		color:#931907;
		border: 2px solid;
		letter-spacing: 0.025em;
		font-size:15.43px;
		text-transform: uppercase;
		font-weight: 600;
		padding: 8px 19px;
		display: inline-block;
		margin-bottom:20px;
		font-family: 'Montserrat', sans-serif;
		&:after {
			position: absolute;
			content: '';
			width: 75%;
			height: 2px;
			background: #931907;
			top: 18px;
			right: 9px;
		}
	}
	p {
		font-size: 15px;
		color: #575555;
		line-height: 20px;
		font-weight: 400;
		font-family: 'Montserrat', sans-serif;
		margin-bottom: 30px;
	}
}

.veja_produtos {
	background-color:#f7f6f2;
	background-image: url(../images/produto_interna/effectv4.png);
	background-repeat: no-repeat;
    background-position: center -20px;
	padding-top:51px;
	padding-bottom: 82px;
    h2 {
        font-size: 36px;
        letter-spacing: 0.025em;
        line-height: 60px;
        color:#ba1700;
        font-weight: 600;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		margin-bottom:37px;
        span {
            font-weight: 900;
        }
	}
	h3 {
		padding: 0px 20px;
		background: #f0ece3;
	}
}

.ampliar {
	width: 35px;
    height: 31px;
    position: absolute;
    bottom: 26%;
    right: 19px;
    z-index: 5;
    background-position: -233px -220px;
}

/* voltar para */

.voltar_para {
    position: fixed;
    left: 0;
    bottom: 5%;
    width: 170px;
    height: 94px;
    background-color: #810f0c;
    background-size: cover;
    background-blend-mode: multiply;
    padding: 18px 18px;
	padding-left: 26px;
	z-index: 10;
	transition: 0.6s;
	.volta {
		font-size: 14px;
		letter-spacing: 0.025em;
		padding: 2px;
		border: 2px solid #FFF;
		color: #FFF;
		text-transform: uppercase;
		width: 120px;
		display: flex;
		justify-content: center;
	}
	.linha_atual {
		font-size: 14px;
		letter-spacing: 0.025em;
		color: #410806;
		text-transform: uppercase;
		padding: 4px 21px;
		background: #FFF;
	}
}

.link_voltar:hover .voltar_para {
	-webkit-box-shadow: 6px 2px 5px 0px rgba(0,0,0,0.34);
-moz-box-shadow: 6px 2px 5px 0px rgba(0,0,0,0.34);
box-shadow: 6px 2px 5px 0px rgba(0,0,0,0.34);
}
