@import url("https://use.typekit.net/mek1fpy.css"); // Lato from adobe
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,900'); // Mont from Google
$vermelho: #ba1700;
$lato: lato, sans-serif;
$mont: 'Montserrat', sans-serif;
body {
    font-family: $lato;
    overflow-x: hidden; 
}
html {
    overflow-x: hidden; 
}
.sprite {
    background: url(../images/assets/sprites.png);
    background-repeat: no-repeat;
}
a, button, i {
    transition: all 0.6s;
}
@media (min-width: 1200px) {
    .container {
      max-width: 1024px;
     }
   }

/* Header */
header {
    padding-top: 27px;
    padding-bottom: 35px;
    background: #f7f6f2;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    z-index: 999;
}
.navbar {
    padding: 0;
    height: 100%;
    padding-left: 93px;
}
.menu a {
    font-family: $mont;
    font-size: 14px;
    padding: 17px 9px !important;
    padding-bottom: 9px !important;
    text-transform: uppercase;
    color: #9c927f;
    font-weight: 600;
    letter-spacing: 0.018em;
}
.menu li {
    position: relative;
}
.menu .active a {
    border-bottom: 3px solid #ba1700;
    &:before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    transform: translateX(-50%);
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #ba1700 transparent;
    }
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ba1700;
    height: 3px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.stroke ul li a.active:after, nav.fill ul li a.active:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  content: '.';
  color: transparent;
  background: #ba1700;
  height: 3px;
}

  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 3px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
  .caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
  }
.dropdown-toggle::after {
    display: inline-block;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

a.dropdown-item:before, a.dropdown-item:after {
    display: none;
}

.menu li:first-child a {
    padding-left: 0 !important;
}
.menu li:last-child a {
    padding-right: 0 !important;
}
.logo {
    padding-left: 7px;
}
.dropdown-toggle::after {
    color: $vermelho;
}
.dropdown-menu a {
    padding: 0 !important;
    padding-top: 3px !important;
    padding-bottom: 4px !important;
    font-size: 11px;
    padding-left: 7px !important;
    border-bottom: 1px solid #d1cfcc;
}

.dropdown-menu a:hover {
    background:#ba1700;
    color:#fff;
}

.dropdown-menu a:last-child {
    border-bottom: 0;
}
.dropdown-menu {
    border-radius: 0;
    border: 0;
    border-top: 3px solid $vermelho;
    padding: 4px 0;
    top: 45px;
}

.menu .active a.dropdown-item {
    border-bottom: 1px solid #d1cfcc;
}
.dropdown-menu::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 42%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $vermelho transparent;
}

.menu {
    padding-right: 0;
}

.carousel-item img {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

/* Midias */

.midias {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 7px;
    a {
        display: inline-flex;
        margin: 0 1px;
        transition: all 0.5s;
        :last-child {
            margin-right: 0;
        }
    }
    .fb {
        width: 27px;
        height: 27px;
        background-position: -35px -6px;
    &:hover {
        background-position: -35px -34px;
    }
    }
    .insta {
        width: 27px;
        height: 28px;
        background-position: -5px -5px;
        &:hover {
            background-position: -5px -33px;
        }
    }
    .pint {
        display: none; // Pintrest icone
        width: 27px;
        height: 27px;
        background-position: -66px -6px;
        &:hover {
            background-position: -66px -34px;
        }
    }
}

.idioma {
    position: absolute;
    display: inline-flex;
    display: none; // Retirada das bandeiras
    top: -28px;
    right: 27px;
    .brasil {
        width: 27px;
        height: 20px;
        background-position: -100px -9px;
    }
    .eua {
        width: 27px;
        height: 20px;
        background-position: -131px -9px;
    }
    a {
        margin-right: 5px; 
    :last-child {
        margin-right: 0;
    }
    }
}

/* Banner */

.carousel-item {
    position: relative;
}

.legenda {
    position: absolute;
    top: 32%;
    padding-left: 88px;
    z-index: 4;
    h3 {
        font-size: 32px;
        font-weight: 500;
        font-style: italic;
        color: #FFF;
        letter-spacing: 0.07em;
        padding-top: 10px;
    }
}

.borda::after {
    content: '';
    position: absolute;
    width: 726px;
    border: 8px solid #fff;
    top: -63px;
    height: 269px;
    left: -104px;
}

.effect {
    position: absolute;
    width: 100%;
    background: url(../images/assets/effect.png) center;
    height: 371px;
    top: 130px;
    left: 0;
    z-index: 2;
}

.principal {
    font-family: $lato;
    font-size: 15px;
    color: #FFF;
    text-align: center;
    width: 280px;
    height: 61px;
    background: $vermelho;
    letter-spacing: 0.025em;
    border-radius: 0;
}
.legenda .principal {
    margin-top: 65px;
}
.carousel-indicators li {
    width: 17px;
    height: 17px;
    margin-right: 10px;
    margin-left: 10px;
}
.carousel-indicators {bottom: 14%;}

.espacamento_lateral {
    padding: 0 32px;
}
/* Linha */
section.linhas {
    margin-top: -100px;
}
.cada_linha {
    background: $vermelho;
    position: relative;
    transition: 0.6s;
    img {
        mix-blend-mode: multiply;
        width: 100%;
    }
    h3 {
        position: absolute;
        top: 50%;
        margin-bottom: 0;
        align-items: center;
        color: #FFF;
        font-family: "Montserrat", sans-serif;
        font-size: 23px;
        transform: translateY(-50%);
        letter-spacing: 0.025em;
        text-transform: uppercase;
        padding-left: 25px;
        line-height: 23px;
        span {
            font-weight: 800;
            display: block;
        }
    }
    &:hover {
        background: #841303;
    }
}
.blog {
    margin-top: 28px;
}
.cada_blog {
    h2 {
        font-weight: 800;
        color: $vermelho;
        line-height: 30px;
        font-size: 30px;
        margin-top: 16px;
        margin-bottom: 14px;
        min-height: 57px;
    }
    p {
        font-weight: 500;
        color: #958b7a;
        line-height: 20px;
        font-size: 18px;
    }
    img {
        max-width: 100%;
    }
}

a.leia {
    float: right;
    width: 121px;
    height: 48px;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#958b7a;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2em;
    &:hover {
        background:#ba1700;
    }
}


/* Footer */
footer {
    padding-top: 105px;
}
.footer_top {
    padding-top: 64px;
    padding-bottom: 31px;
    background: #f0ece3;
    position: relative;
}
.footer_content {
    display: flex;
}

.logo_tel {
    border-right: 2px solid #ded8cc;
    padding-right: 32px;
    h4 {
        margin-top: 12px;
        color: #ba1700;
        font-size: 20px;
        font-weight: 900;
        text-align: center;
        margin-bottom: 0;
    }
}

.localizacao {
    padding-left: 32px;
    font-size: 17px;
    line-height: 19px;
    color: #8c816b;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.selos {
    display: inline-flex;
    position: relative;
    z-index: 4;
    align-items: center;
    padding-left: 16px;
    .ambiental {
        width: 85px;
        height: 84px;
        background-position: -4px -61px;
        margin-right: 52px;
    }
    .bnds {
        width: 153px;
        height: 31px;
        background-position: -101px -34px;
    }
}

.fundo_selos {
    position: absolute;
    top: 0;
    height: 100%;
    background: #a39a8a;
    width: 38.8%;
    right: 0;
    z-index: 1;
}

.footer_bottom {
    padding-top: 16px;
    padding-bottom: 15px;
}

.face_footer {
    width: 167px;
    height: 41px;
    background-position: -100px -71px;
    transition: all 0.5s;
    &:hover {
        background-position: -100px -115px;
    }
}

.red {
    width: 49px;
    height: 27px;
    background-position: -166px -6px;
}

.direitos {
    font-size: 14px;
    font-weight: 500;
    color: #8c816b;
}
.centraliza_bottom {
    align-items: center;
}

.carousel-control-next-icon {
    background: url(../images/assets/sprites.png) no-repeat;
    background-position: -274px -60px;
    width: 51px;
    height: 49px;
}
.carousel-control-prev-icon {
    background: url(../images/assets/sprites.png) no-repeat;
    background-position: -274px -6px;
    width: 51px;
    height: 49px;
}

.carousel-control-next, .carousel-control-prev {
    z-index: 999;
}

.footer_interna {
    position: relative;
    padding-top: 0;
    margin-top: -45px;
    z-index: 1;
}

section.encontre {
    position: relative;
    z-index: 2;
}

.icondown {
    width: 30px;
    height: 30px;
    background-position: -209px -165px;
    display: flex;
}

.download {
    display: flex;
    padding: 0;
    width: 304px;
    height: 49px;
    background: #931907;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 0;
    border: 0;
    align-items: center;
    &:hover {
        background:#500e04 ;
        color: #ba1700;
    }
}

.download:hover .caixa_icone {
    background: #FFF;
}

.caixa_icone {
    width:55px;
    height: 49px;
    background: #500e04;
    display: flex;
    justify-content: center;
    align-items: center;

}

.textobutton {
    padding-left: 31px;
    color: #FFF;
    font-size: 18px;
    letter-spacing: 0.025em;
}

/* Botão Imprimir */
.imprimir {
    background: #d8dade;
    border-radius: 0;
    border: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    margin-right: 12px;
    &:hover {
        background: #777777;
    }
}

.imprimir:hover .texto_imprimir {
    color:#FFF;
}
.icone_imprimir {
    width: 40px;
    height: 39px;
    background: #777777;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
    width: 21px;
    height: 27px;
    background-position: -243px -165px;
    }
}
.texto_imprimir {
    display: flex;
    padding: 0;
    width: 183px;
    height: 39px;
    font-weight: normal;
    font-size: 15.4px;
    color: #777777;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

/* Botão Download v2 */
.downloadv2 {
    background: #931907;
    border-radius: 0;
    border: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
.icone_downloadv2 {
    width: 40px;
    height: 39px;
    background: #500e04;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
    width: 30px;
    height: 30px;
    background-position: -209px -165px;
    }
}
.texto_downloadv2 {
    position: relative;
    display: flex;
    padding: 0;
    width: 183px;
    height: 39px;
    font-weight: normal;
    font-size: 15.4px;
    color: #FFF;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    &:hover {
        background:#500e04 ;
        color: #ba1700;
    }
}
.downloadv2:hover .abrir_download {
    opacity: 1;
}
.abrir_download {
    opacity: 0;
    transition: .5s;
    background: #d8dade;
    position: absolute;
    top: 39px;
    right: 0;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    padding: 0px 11px;
    width: auto;
    .item_download {
        height: 43px;
        display: flex;
        align-items: center;
        color: #777777;
        font-size: 12px;
        letter-spacing: 0.025em;
        border-bottom: 1px solid #b7babe;
        font-family: "Montserrat", sans-serif;
        &:last-of-type {
            border: none;
        }
    }
    .cat {
        width: 18px;
        height: 21px;
        background-position: -245px -195px;
        margin-right: 8px;
    }
}

/* todas linhas */

.todas_linhas {
    background: #f7f6f2;
    padding-top: 44px;
    padding-bottom: 104px;
    margin-top: 56px;
    h2 {
        font-size: 23px;
        letter-spacing: 0.025em;
        line-height: 20px;
        color: #ba1700;
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 24px;
    }
    .caixa_linhas {
        width: 186px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 105px;
        border-right: 2px solid #f0ece3;
        &:last-of-type {
            border: none;
        }
    }
    h3 {
        font-weight: normal;
        font-size: 23px;
        color: #575555;
        letter-spacing: 0.025em;
        line-height: 20px;
        text-transform: uppercase;
        span {
            font-weight: 900;
            display: block;
        }
    }   
}

.caixa_encontre {
    margin-top: -71px;
    height: 116px;
    background: #d51a15;
    padding-left: 32px;
    box-shadow: 0px 9px 29px 0px rgba(163, 154, 138, 0.94); 
    align-items: center;
    h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 27px;
    color: #FFF;
    width: 43%;
    }
    .encontre_search {
    padding-left: 35px;
    background: #ba1700;
    width: 58%;
    padding-right: 32px;
    height: 100%;
        align-items: center;
    }
}

/** Custom Select **/
.custom-select2-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  width: 100%;
}
  .custom-select2-wrapper select {
    display: none;
  }
  .custom-select2 {
    position: relative;
    display: inline-block;
    width: 100%;
  }
    .custom-select2-trigger {
    position: relative;
    margin-right: 11px;
    display: flex;
    width: 70px;
    height: 50px;
    font-size: 16px;
    padding-left: 13px;
    font-weight: bold;
    color: #a39a8a;
    line-height: 45px;
    background: #f0ece3;
    border-radius: 0;
    cursor: pointer;
}

.btn.btn_buscar {
    width: 251px;
    height: 50px;
    background: #a39a8a;
    border-radius: 0;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.2em;
    &:hover {
        background: #a02022;
    }
}
    .cidade_select .custom-select2-trigger {
        width: 172px;
    }
      .custom-select2-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%;
    right: 12px;
    margin-top: -3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #a39a8a;
    transition: all .4s ease-in-out;
   
      }
      .custom-select2.opened .custom-select2-trigger:after {
        margin-top: 3px;
        transform: rotate(-180deg) translateY(100%);
      }
  .custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    margin: 4px 0;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #ffffff;
    transition: all .4s ease-in-out;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
  .custom-select2.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
    .custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
      margin-bottom: -4px;
      border-top: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }
    .option-hover:before {
      background: #f9f9f9;
    }
    .custom-option {
    position: relative;
    display: block;
    padding: 0 22px;
    border-bottom: 1px solid #ba170038;
    font-size: 12px;
    font-weight: 600;
    color: #253434;
    line-height: 40px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    }
    .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .custom-option:hover,
    .custom-option.selection {
       background: #f9f7fa;
    }

    button.slick-next {
    background: url(../images/assets/sprites.png);
    background-repeat: no-repeat;
    background-position: -332px -60px !important;
    width: 51px;
    height: 49px;
    z-index: 3;
    right: 0;
    transition: 0.4s;
    opacity: 1 !important;
}

button.slick-prev {
    background: url(../images/assets/sprites.png);
    background-repeat: no-repeat;
    background-position: -332px -6px !important;
    width: 51px;
    height: 49px;
    z-index: 3;
    left: 0;
    transition: 0.4s;
    opacity: 1 !important;
}

.slick-next:hover {
        background: url(../images/assets/sprites.png);
    background-repeat: no-repeat;
    background-position: -274px -60px !important;
}

.slick-prev:hover {
        background: url(../images/assets/sprites.png);
    background-repeat: no-repeat;
    background-position: -274px -6px !important;
}

.slick-prev:before , .slick-next:before {
    display: none;
}

.compartilhar{
    margin-top: 22px;
    a {
        width: 33px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #00aced;
        color: #FFF;
        &:hover {
            filter: grayscale(100%);
            text-decoration: none;
        }
        &:nth-of-type(2) {
            background: #3b5998;
        }
        &:nth-of-type(3) {
            background: #cb2027;
        }
        &:nth-of-type(4) {
            background: #dd4b39;
        }
        &:nth-of-type(5) {
            background: #aaaaaa;
        }
        &:nth-of-type(6) {
            background: #0f52ba;
        }
    }

}

/* Produtos */
.cada_produto {
    margin-bottom: 27px;
    position: relative;
}
.dentro_produto {
    background: #f7f5f0;
    height: 100%;
}
.imagem_produto {
    border: 1px solid #f7f5f0;
    overflow: hidden;
    background: #fff;
}
.cada_produto h3 {
    font-size: 13px;
    color: #d51a15;
    letter-spacing: 0.05em;
    line-height: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 0 31px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    transition: 0.6s;
}

.maisdetalhes {
width: 165px;
    height: 22px;
    background: #931907;
    color: #FFF;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 0.05em;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
        background: #a39a8a;
        color: #931907;
    }
}

.cada_produto:hover .maisdetalhes {
        background: #a39a8a;
        color: #931907;
}

.cada_produto:hover h3 {
    background: #931907;
    color: #FFF;
}

.face_interna {
    width: 197px;
    height: 48px;
    background-position: -12px -438px;
}

.trabalhe {
	width: 197px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ba1700;
	color: #FFF;
	font-size: 12px;
	letter-spacing: 0.025em;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	&:hover {
		background: #575555;
		color: #FFF;
		text-decoration: none;
	}
}

.botoes_quem {
	margin-top: 41px;
	align-items: center;
}

.titulo_page {
    h1 {
        font-size:40px;
        letter-spacing: 0.025em;
        font-weight: 500;
        color:#ba1700;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        margin-top: 45px;
        margin-bottom: 29px;
        span {
            font-weight: 900;
        }
    }
    p {
        font-size: 15px;
		color: #575555;
		line-height: 20px;
		font-weight: 400;
		font-family: 'Montserrat', sans-serif;
        margin-bottom: 33px;
        text-align: justify;
    }
}

/* Menu mobile */

/* start menu */

.menu_sociais {
    flex-grow: 1 !important;
    .h-100 {
        justify-content: space-around;
    }
}

.hamburger {
    position: absolute;
    display:none;
    top: 20px;
    right: 6px;
    cursor: pointer;
    z-index: 99999999;
    padding: 10px 15px 5px;
  }
  .hamburger span {
  vertical-align: middle;
  }
  .hamburger .bars {
  display: block;
  position: relative;
  width: 32px;
  height: 4px;
  background: #ba1700;
  border-radius: 80px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .hamburger .bars:before, .hamburger .bars:after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 4px;
  background: #ba1700;
    border-radius: 80px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .hamburger .bars:before {
  top: 10px;
  }
  .hamburger .bars:after {
  bottom: 10px;
  }
  
  .open_menu .hamburger .bars {
  background-color: transparent;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .open_menu .hamburger .bars::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }
  .open_menu .hamburger .bars::after {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  
  .mobile_menu {
  width: 290px;
  height: 100%;
  padding: 75px 20px 0;
  background: #958b7a;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
  position: fixed;
  right: -100%;
  top: 0;
  opacity: 0;
  z-index: 999999;
  margin-top: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .mobile_menu ul li a {
    color: #ffffff;
    width: 100%;
    padding: 13px 20px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: .5s;
    display: block;
    border-radius: 0;
    letter-spacing: 0.1em;
    margin-left: 0;
    border-bottom: 1px solid #fff;
  }
  .open_menu .hamburger {
    top: -13px;
  }
  .mobile_menu ul {
  padding: 0;
  list-style: none;
  text-align: left;
  }
  .mobile_menu li {
    width: 100%;
  }
  .sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  }
  .mobile_menu a:hover {
  color: white;
  }
  .open_menu .mobile_menu {
  right: 0;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  .mobile_menu:hover {
  overflow-y: auto;
  }
  .mobile_menu .socialTopo {
    margin: 0;
    justify-content: flex-end;
    padding-top: 10px;
  }

  .imagem_post img {
    max-width: 100%;
}

.facebook iframe {
    min-width: 100%;
    width: 100px;
    *width: 100%;
}
.face_incorporar iframe {
    min-width: 100%;
    width: 100px;
    *width: 100%;
}